/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";


/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
    background: url("../images/bg.jpg") repeat-x #ECECEA;
    font-family: $georgia;
}
body.toolbar {
    background-position: 0 65px;
    padding-top: 65px;
}
body.front #main {
    width: 910px;
    padding: 0 300px 70px 90px;
}

#page {
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a {
    color: #329406;
      &:visited {
        display: block;
        width: 100%;
        padding: 2px 0 3px 0;
        text-align: center;
        background-color: #666;
        color: #fff;
      }
  }
}


/*
 * Header
 */

#header {
    padding: 0 0 0 90px;
    height: 237px;
}
.lt-ie9 #header {
    height: 234px;
}

#logo { /* Wrapping link for logo */
  float: left; /* LTR */
  margin: 0;
  padding: 0;

  img {
    vertical-align: bottom;
  }
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;

  a:link,
  a:visited {
    color: #000;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/*
 * Main (container for everything else)
 */

#main {
    background: url("../images/bg-content.png") repeat-y;
    overflow: visible;
    width: 1080px;
    padding: 0 0 70px 110px;
    margin: 54px 0 0 0;
}
    .lt-ie9 #main {
        margin: 57px 0 0 0;
    }

/*
 * Content
 */

#content {
    padding: 46px 12px 0 0;
}
.no-sidebars #content {
    width: 880px;
}
.sidebar-second #content {
    padding: 46px 12px 0 0;
}
.front.sidebar-second #content {
    padding: 16px 12px 0 0;
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

h1 {
    font-family: $helvetica;
    color: #329406;
}
h2 {
    font-family: $helvetica;
    line-height: 1.5em;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}
span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;

  li { /* Each page number in the pager list */
    padding: 0 0.5em;
  }
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

a {
    color: #329406;
}

#logo {
    background: url("../images/bg-curve.png") 40px 0 no-repeat;
    margin: 26px 0 0;
    overflow: hidden;
    padding: 32px 0 0 4px;
    float: left;
}

.region-header {
    .block-search {
        float: right;
        margin: 4px 90px 0 0;
    }
    .utilitynav {
        float: left;
        margin: 52px 0 0 0;
        ul {
            padding: 0; margin: 0;
            li {
                text-align: right;
                list-style: none;
                a {
                    background: url("../images/sprite-utility.png") no-repeat;
                    display: block;
                    overflow: hidden;
                    height: 0;
                    width: 129px;
                    &#nav-about {
                        padding-top: 50px;
                        &:hover {
                            background-position: -129px 0;
                        }
                    }
                    &#nav-news {
                        padding-top: 35px;
                        background-position: 0 -50px;
                        &:hover {
                            background-position: -129px -50px;
                        }
                    }
                    &#nav-portal {
                        padding-top: 43px;
                        background-position: 0 -85px;
                        &:hover {
                            background-position: -129px -85px;
                        }
                    }
                }
            }
        }
    }
    .headerappt {
        float: left;
        font-family: $helvetica;
        font-weight: bold;
        font-size: 1.625em;
        margin: 76px 0 0 60px;
        width: 426px;
        p {
            margin: 0 0 14px;
        }
        #header-phone {
            color: #329406;
        }
        .apptbutton {
            width: 292px;
            margin: 0 0 0 40px;
            a {
                background: url("../images/btn-request.png") no-repeat;
                height: 0;
                padding-top: 40px;
                display: block;
                overflow: hidden;
                &:hover {
                    background-position: 0 -40px;
                }
            }
        }
    }
}

#search-block-form input.form-submit, #search-form input.form-submit {
      height: 24px;
      width: 20px;
      cursor: pointer;
      text-indent: -9999px;
      border: none;
      background: url("../images/search-magnify.png") no-repeat left top;
      margin-left:5px;
      text-transform: capitalize;
}
    #IEroot .block-search input.form-submit, #IEroot #search-form input.form-submit {   /*----------hack for IE (magnify glass search button) ---------*/
      width: 34px;
      font-size: 0;
      color: #fff;
      text-align: right;
    }
    #IEroot #search-form .search-advanced input.form-submit {
      width: 44px;
      text-indent: 0;
    }


/* --------Top Navigation----------- */
#navigation {
    width: 1007px;
    padding: 0;
    margin: -53px 0 0 -42px;
    z-index: 10;
    ul {
        li {
            float: left;
            margin: 0; padding: 0;
            a {
                background: url("../images/nav-sprite.png") no-repeat;
                height: 0;
                overflow: hidden;
                display: block;
                &#nav-home {
	                width: 114px;
	                padding-top: 53px;
	                &:hover, &.active, &.active-trail {
		                background-position: 0 -53px;
		                padding-top: 67px;
	                }
                }
                 &#nav-specialists {
	                width: 121px;
	                padding-top: 53px;
	                background-position: -114px 0;
	                &:hover, &.active, &.active-trail {
		                background-position: -115px -53px;
		                padding-top: 67px;
	                }
                }       
                 &#nav-specialties {
	                width: 169px;
	                padding-top: 53px;
	                background-position: -235px 0;
	                &:hover, &.active, &.active-trail {
		                background-position: -235px -53px;
		                padding-top: 67px;
	                }
                }
                 &#nav-services {
	                width: 97px;
	                padding-top: 53px;
	                background-position: -404px 0;
	                &:hover, &.active, &.active-trail {
		                background-position: -404px -53px;
		                padding-top: 67px;
	                }
                }
                &#nav-resources {
	                width: 178px;
	                padding-top: 53px;
	                background-position: -500px 0;
	                &:hover, &.active, &.active-trail {
		                background-position: -500px -53px;
		                padding-top: 67px;
	                }
                }
                &#nav-locations {
	                width: 328px;
	                padding-top: 53px;
	                background-position: -678px 0;
	                &:hover, &.active, &.active-trail {
		                background-position: -678px -53px;
		                padding-top: 67px;
	                }
                }
            }
        }
    }
}

/* --------Slider----------- */
.front #main {
    padding: 0;
}
.home-feature {
    display: block;
    height: 495px;
    margin: 0;
    position: relative;
    width: 1100px;
    #slides {
        width: 1100px;
        float: left;
        h2 {
            margin: 0;
        }
        p {
            width: 386px;
            font-size: 0.875em;
            line-height: 22px;
        }
        p.btn-learnmore {
            position: absolute;
            top: 396px;
            left: 850px;
            a {
                background: url("../images/btn-read-more.png") no-repeat;
                height: 0;
                width: 125px;
                padding-top: 43px;
                display: block;
                overflow: hidden;
                &:hover {
                    background-position: 0 -43px;
                }
            }
        }
    }
    /*
#bar {
        background: url("../images/slide-navigation-sprite.png") no-repeat;
        height: 344px;
        width: 332px;
        position: absolute;
        display: inline;
        z-index: 100;
        margin: 0 0 0 -352px;
        padding: 22px 0 0 0;
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style: none;
                line-height: 24px;
                border-bottom: 1px solid #6aacca;
                width: 332px;
                padding: 2px 0 9px 0;
                &.last {
                    border: none;
                }
                &.button a {
                    height: 60px;
                    width: 299px;
                    display: block;
                    color: #ffffff;
                    font-weight: bold;
                    padding: 14px 44px 0 14px;
                    text-decoration: none;
                    &:hover {
                        background: url("../images/slide-navigation-sprite.png") no-repeat -6px -366px;
                        color: #003555;
                        text-decoration: none;
                    }
                }
                &.activeSlide a {
                    background: url("../images/slide-navigation-sprite.png") no-repeat -6px -366px;
                    height: 60px;
                    width: 299px;
                    display: block;
                    color: #003555;
                    font-weight: bold;
                    padding: 14px 44px 0 14px;
                    text-decoration: none;
                }
            }
        }
    }
*/
}
#slideshow {
    #feature-one, #feature-two, #feature-three, #feature-four {
        background-color: transparent !important;
        width: 1100px;
        height: 419px;
        margin: 0 0 0 -90px;
        padding: 76px 0 0 80px;
        /* margin-top: 59px; */
        .description {
            width: 568px;
            height: 94px;
            margin: 242px 0 0 10px;
            padding: 18px 0 0 18px;
            h2 {
                color: #329406;
            }
            p {
                margin: 1em 0;
            }
        }
        .hidden{
	        display:none;
        }
    }
    #feature-one {
        background: url("../images/slide-one.jpg") no-repeat;
    }
    #feature-two {
        background: url("../images/slide-one.jpg") no-repeat;
    }
    #feature-three {
        background: url("../images/slide-one.jpg") no-repeat;
    }
    #feature-four {
        background: url("../images/slide-one.jpg") no-repeat;
    }
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
 
 
.breadcrumb {
     color: #6a6768;
     font-style: italic;
     font-size: 0.875em;
     margin-bottom: 14px;
     li {
        font-weight: bold;
        a {
            color: #6a6768;
            text-decoration: none;
            font-weight: normal;
            &:hover {
                text-decoration: underline;
            }
        }
     }
 }


/* -------- Sidebar navigation ----------- */
.region-sidebar-second {
    width: 307px;
    background: url("../images/bg-sidebar.gif") no-repeat;
    border-left: 1px solid #dad9d9 !important;
    padding-top: 42px;
    h2 {
        padding: 0;
    }
    ul.menu, #block-views-news-block-1 .view-news .view-content { /*sidebar navigation*/
        padding: 0; margin: 0;
        &.expanded, &.collapsed, &.leaf {
            list-style-type:none;
            list-style-image: none;
        }	
        li.leaf, .views-row {
            list-style-type: none;
            list-style-image: none;
            margin:0;
            &:first-child {
                border-top: none;
            }
            &:last-child {
                border-bottom: none;
            }
            a {
                width: 283px;
                border-top: 1px solid transparent;
                color: #6a6768;
                text-decoration: none;
                font-weight: bold;
                display: block;
                margin: 0;
                padding: 10px 0 10px 24px;
                &:hover {
                    border-top: 1px solid #e6e5e5;
                    background: #E4E2E2;
                    background-image: -moz-linear-gradient(top, #fdfcfc, #c7c4c4);
                    background-image: -ms-linear-gradient(top, #fdfcfc, #c7c4c4);
                    background-image: -webkit-linear-gradient(top, #fdfcfc, #c7c4c4);
                    background-image: linear-gradient(top, #fdfcfc, #c7c4c4);
                }
                &.active, &.active-trail {
                    border-top: 1px solid #e6e5e5;
                    background: #E4E2E2;
                    background-image: -moz-linear-gradient(top, #fdfcfc, #c7c4c4);
                    background-image: -ms-linear-gradient(top, #fdfcfc, #c7c4c4);
                    background-image: -webkit-linear-gradient(top, #fdfcfc, #c7c4c4);
                    background-image: linear-gradient(top, #fdfcfc, #c7c4c4);
                }
            }
        }
    }
    .block-jump-menu {
        margin: 0 0 16px 22px;
        select {
            width: 262px;
        }
    }
    .home-find-doctor {
        margin-left: 20px;
        a.btn {
            background: url("../images/btn-find-specialist-home.png") no-repeat;
            display: block;
            height: 0;
            overflow: hidden;
            padding-top: 52px;
            width: 269px;
            &:hover {
                background-position: 0 -52px;
            }
        }
    }
    .findadoctor-sidebar {
        margin-left: 20px;
        a.btn-fas {
            background: url("../images/btn-find-specialist.png") no-repeat;
            display: block;
            height: 0;
            overflow: hidden;
            padding-top: 45px;
            width: 269px;
            &:hover {
                background-position: 0 -45px;
            }
        }
    }
}

/*
 * Home page
 */
.home-news {
    border-top: 1px solid #cccccc;
    padding: 12px 12px 0 12px;
    width: 304.5px;
    h2.block-title {
        margin: 0 0 14px 0;
    }
    .view-news .views-row { border: none; padding: 0 0 16px 0; }
    .views-field-title {
        font-weight: bold;
        a {
            text-decoration: underline;
            &:hover { text-decoration: none; }
        }
    }
    .views-field-body {
        p {
            margin: 1em 0;
            font-size: 0.8125em;
        }
    }
    .more-link {
        a {
            background: url("../images/btn-more-news.png") no-repeat;
            width: 188px;
            padding-top: 41px;
            height: 0;
            display: block;
            overflow: hidden;
            &:hover {
                background-position: 0 -41px;
            }
        }
    }
}

ul {
    &.leftcol {
        float: left;
        width: 200px;
    }
    &.rightcol {
        float: left;
    }
}


/*
 * Physician landing page
 */
.view-our-specialists {
    .view-filters {
        margin-bottom: 30px;
        padding: 10px 15px;
        background: #eeeeee;
        border-bottom: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        width: 842px;
    }
    .view-content {
        .views-row {
            float: left;
            display: table;
            width: 260px;
            background: #eeeeee;
            padding: 15px 10px 15px 15px;
            margin: 0 3px 8px;
            border-bottom: 1px solid #cccccc;
            border-right: 1px solid #cccccc;
            .views-field-title {
                font-size:.875em;
                font-weight:bold;
                line-height: 18px;
                margin: 6px 0;
                a {
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .views-field-field-profilephoto img {
                float: left;
                margin-right: 12px;
                border: 1px solid #d8d8d8;
            }
            .views-field-field-profile-specialties {
                font-style: italic;
                color: #999999;
                font-size: 0.8125em;
                line-height: 18px;
                margin-left: 94px;
            }
        }
    }
    .attachment {
        clear: both;
        padding-top: 10px;
        .view-header {
            padding-left: 12px;
        }
    }
}

/*
 * Physician profile
 */
.node-type-physician-profile h1.title {
    position: absolute;
    margin: 28px 24px 0 186px;
    font-weight: bold;
    font-size: 1.375em;
    font-family: $helvetica;
    width: 380px;
    color: #329406;
}
.field-name-field-profilephoto {
    float: left;
    display: table;
    margin: 20px 0 10px -59px;
    background: url("../images/bg-physician-photo.png") no-repeat;
    width: 195px;
    height: 279px;
        img {
            margin: 12px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            -moz-box-shadow: 1px 1px 6px #686868;
            -webkit-box-shadow: 1px 1px 6px #686868;
            box-shadow: 1px 1px 6px #686868;
            filter: progid:DXImageTransform.Microsoft.Shadow(strength = 6, direction = 135, color = '#686868');
            -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 6, Direction = 135, Color = '#686868')";
        }
}
.field-name-field-profile-specialties {
    color: #6a6768;
    padding: 62px 0 18px 186px;
    font-family: $helvetica;
    font-weight: bold;
}
.field-name-field-profile-quote {
    font-style: italic;
    font-size: 1.125em;
    background: #4eab20;
    color: #ffffff;
    padding: 4px 30px 6px 206px;
    margin-bottom: 22px;
    line-height: 22px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 6px #686868;
    -webkit-box-shadow: 1px 1px 6px #686868;
    box-shadow: 1px 1px 6px #686868;
    filter: progid:DXImageTransform.Microsoft.Shadow(strength = 6, direction = 135, color = '#686868');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 6, Direction = 135, Color = '#686868')";
    background-image: -moz-linear-gradient(top, #4eab20, #359207);
    background-image: -ms-linear-gradient(top, #4eab20, #359207);
    background-image: -webkit-linear-gradient(top, #4eab20, #359207);
    background-image: linear-gradient(top, #4eab20, #359207);
}
.node-type-physician-profile .field-name-body {
    clear: both;
}


/*
 * Services styles
 */
.field-name-field-main-image,
.field-name-field-content-image {
    float: left;
    display: table;
    margin: 0 14px 0 -65px;
    background: url("../images/bg-service-photo.png") no-repeat;
    width: 277px;
    height: 383px;
        img {
            margin: 9px 0 0 9px;
            -moz-border-radius: 12px;
            -webkit-border-radius: 12px;
            border-radius: 12px;
            -moz-box-shadow: 1px 1px 6px #686868;
            -webkit-box-shadow: 1px 1px 6px #686868;
            box-shadow: 1px 1px 6px #686868;
            filter: progid:DXImageTransform.Microsoft.Shadow(strength = 6, direction = 135, color = '#686868');
            -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 6, Direction = 135, Color = '#686868')";
        }
}


/*
 * News page
 */
.page-news #page {
    .views-row {
        border-bottom: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        background: #ebebeb;
        width: 560px;
        float: left;
        padding: 14px 0 26px 18px;
        margin: 0 0 8px 0;
        header h2 {
            font-size:1.25em;
            font-weight:bold;
            line-height: 18px;
            margin: 6px 0;
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        ul {
            margin: 0;
        }
        .node-readmore a {
            font-family: $helvetica;
            color: #ffffff;
            text-decoration: none;
            background-color: #329406;
        	background-image: -webkit-gradient(linear, left top, left bottom, from(#4eab20), to(#369308));
        	background-image: -webkit-linear-gradient(top, #4eab20, #369308);
        	background-image: -moz-linear-gradient(top, #4eab20, #369308);
        	background-image: -ms-linear-gradient(top, #4eab20, #369308);
        	background-image: -o-linear-gradient(top, #4eab20, #369308);
        	background-image: linear-gradient(top, #4eab20, #369308);
        	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4eab20', EndColorStr='#369308');
        	padding: 8px 12px 6px 12px;
        	margin: 0;
        	text-decoration: none;
        	-moz-border-radius: .2em;
        	-webkit-border-radius: .2em;
        	border-radius: .2em;
        	&:hover {
            	background-color: #ccc;
            	background-image: -webkit-gradient(linear, left top, left bottom, from(#369308), to(#4eab20));
            	background-image: -webkit-linear-gradient(top, #369308, #4eab20);
            	background-image: -moz-linear-gradient(top, #369308, #4eab20);
            	background-image: -ms-linear-gradient(top, #369308, #4eab20);
            	background-image: -o-linear-gradient(top, #369308, #4eab20);
            	background-image: linear-gradient(top, #369308, #4eab20);
        	}
        }
    }
}


/*
 * Contact page
 */
.page-contact #page {
    .views-row {
        border-bottom: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        background: #ebebeb;
        width: 268px;
        float: left;
        padding: 14px 0 26px 18px;
        margin: 0 8px 8px 0;
        h2 {
            font-size:1.25em;
            font-weight:bold;
            line-height: 18px;
            margin: 6px 0;
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .views-field-view-node a {
            font-family: $helvetica;
            color: #ffffff;
            text-decoration: none;
            background-color: #329406;
        	background-image: -webkit-gradient(linear, left top, left bottom, from(#4eab20), to(#369308));
        	background-image: -webkit-linear-gradient(top, #4eab20, #369308);
        	background-image: -moz-linear-gradient(top, #4eab20, #369308);
        	background-image: -ms-linear-gradient(top, #4eab20, #369308);
        	background-image: -o-linear-gradient(top, #4eab20, #369308);
        	background-image: linear-gradient(top, #4eab20, #369308);
        	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4eab20', EndColorStr='#369308');
        	padding: 8px 12px 6px 12px;
        	margin: 0;
        	text-decoration: none;
        	-moz-border-radius: .2em;
        	-webkit-border-radius: .2em;
        	border-radius: .2em;
        	&:hover {
            	background-color: #ccc;
            	background-image: -webkit-gradient(linear, left top, left bottom, from(#369308), to(#4eab20));
            	background-image: -webkit-linear-gradient(top, #369308, #4eab20);
            	background-image: -moz-linear-gradient(top, #369308, #4eab20);
            	background-image: -ms-linear-gradient(top, #369308, #4eab20);
            	background-image: -o-linear-gradient(top, #369308, #4eab20);
            	background-image: linear-gradient(top, #369308, #4eab20);
        	}
        }
    }
}


/*
 * Form
 */
form.webform-client-form {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 4px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 16px;
    padding: 16px;
    fieldset {
        border: none;
        margin: 0; padding: 0;
        legend {
            color: #666666;
            font-size: 1.3em;
            font-weight: 400;
        }
        .fieldset-wrapper {
            font-size: 0.875em;
        }
        label {
            margin-bottom: 8px;
        }
    }
}


/*
 * Footer
 */

/* --------Footer----------- */
#footer-wrapper {
	background: #292a29;
	text-align: center;
	color: #FFFFFF;
	border-top: 4px solid #6eb43f;
	a {
    	color: #FFFFFF;
    	text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
	}
	.region-footer {
	   width: 960px;
	   margin: 0 auto;
	   position: relative;
    	.footer-main-nav,
    	.footer-secondary-nav {
    	   margin: 0;
    	   ul {
    	       margin: 10px 0;
        	   text-align: center;
            	li.leaf, li {
                    display: inline;
                    height: 20px;
                    padding: 0 8px 0 6px;
                    list-style-image: none;
                    list-style-type: none;
                    border-right: 1px solid #ffffff;
            	}
            	li.last {
                	border: none;
            	}
            }
    	}
    	.footer-main-nav {
        	margin: 140px 0 0;
    	}
    	.footer-secondary-nav {
        	clear: both;
        	margin: 0;
    	}
        .footer-appt {
            clear: both;
            padding: 78px 0 0 0;
            margin: -37px 0 0 0;
            font-family: $helvetica;
            position: absolute;
            font-weight: bold;
            font-size: 1.625em;
            width: 960px;
            left: 0;
            background: url("../images/bg-footer-curve.png") no-repeat 50% 0;
            p {
                margin: 0;
            }
            #footer-phone {
                color: #329406;
            }
            .footer-appt-button a {
                background: url("../images/btn-request.png") no-repeat;
                width: 292px;
                height: 0;
                padding-top: 40px;
                display: block;
                overflow: hidden;
                margin: 10px auto 0;
                &:hover {
                    background-position: 0 -40px;
                }
            }
        }
    	a.footer-appt-button {
            background: url("../images/appointment-button-sprite.png") no-repeat;
            height: 0;
            overflow: hidden;
            width: 299px;
            padding-top: 39px;
            display: block;
            margin: 0 auto;
            &:hover {
                background-position: 0 -39px;
            }
        }
        .footer-copyright {
            color: #4d4b4b;
            a {
                color: #4d4b4b;
            }
        }
    }
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}
